.hudContainer {
  position: absolute;
  color: white;
  margin-left: 20px;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.githubUsername {
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.companyName {
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 10px;
  text-transform: lowercase;
}

.repoName {
  font-size: 28px;
  display: block;
}

.repoDesc {
  font-size: 18px;
  display: block;
  text-transform: lowercase;
}

.repoLink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 20px;
  height: 20px;
  transition: all 0.3s ease-in;
}

.repoLink:hover {
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease-in;
}

.arrowPointer {
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  display: inline-block;
  border: 2px solid;
  border-left: none;
  position: relative;
  bottom: 1px;
  border-bottom: none;
}