body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #373773, #235689, #2a9096, #364a7b, #4a367b, #5e3665, #2c294b, #31437a);
  background-size: 1600% 1600%;
  background-repeat: no-repeat;
  overflow:hidden;
  -webkit-animation: skygradient 400s ease infinite;
  -moz-animation: skygradient 400s ease infinite;
  -o-animation: skygradient 400s ease infinite;
  animation: skygradient 400s ease infinite;
  font-family: 'GeosansLight-NMS';
}

@-webkit-keyframes skygradient {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes skygradient {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@-o-keyframes skygradient {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@keyframes skygradient { 
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}

canvas {
  width: 100%!important; height: 100%!important;
}